.header {
  padding: 15px 0 30px;
  border-top: 15px solid #52A345;
}

.header__top {
  display: grid;
  grid-template-columns: 1fr 386px 1fr;
  align-items: center;
  gap: 20px;
  margin: 0 0 41px 0;
}

.header__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.header__phone {
  font-size: 14px;
  line-height: 20px;
  border: 1px solid #475009;
  border-radius: 60px;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 6px 12px;
}

.header__callback {
  font-weight: 600;
  padding: 0;
  background-color: transparent;
  border: none;
  font-family: "Montserrat", "Arial", sans-serif;
  color: #475009;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.06em;
  text-decoration: underline;
}

.header__users {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header__user-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 15px;
  align-items: center;
}

.header__user-link {
  display: flex;
  align-items: center;
}

.header__user-text {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  font-weight: 600;
  margin: 0 0 0 10px;
}

.header__user-count {
  height: 17px;
  width: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  background-color: #52A345;
  border-radius: 50%;
  font-size: 10px;
  line-height: 10px;
  font-weight: 600;
}

.header__burger {
  padding: 0;
  border: none;
  background-color: transparent;
}
